body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.header {
	color: black;
	text-align: center;
}

.footer {
	color: black;
	width: 100%;
	text-align: center;
	padding-top: 20px;
}

.std-btn {
	padding: 5px 20px;
	font-size: 16px;
}

#canvas {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	margin-top: 25px;
	display: block;
}

.grid {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 2fr;
	grid-gap: 10px;
}

.container {
	display: grid;
	grid-template-columns: 2fr;

	gap: 20px;
	justify-content: center;
	align-items: center;
}

/* #message {
	margin-left: 10px;
} */

#heuristic-distance {
	padding: 10px;
	font-size: 16px;
}

#grp-box-label {
	font-size: 18px;
}

#speed {
	padding: 10px;
	font-size: 16px;
}

.node {
	padding: 10px;
	font-size: 16px;
}

.sub-header {
	font-size: 20px;
	color: darkgray;
}
